# Django
__pycache__/
*.pyc
*.pyo
*.pyd
db.sqlite3
*.sqlite3
*.log
local_settings.py
.env

# Migraciones (temporalmente, ya que eliminaste migraciones)
core/migrations/

# Carpeta de entorno virtual (si usas uno)
venv/
env/

# Archivos temporales
*.cache
*.bak
*.swp
/tmp/

# Archivos de VS Code
.vscode/