# Django
__pycache__/
*.pyc
*.pyo
*.pyd
db.sqlite3
*.sqlite3
*.log
local_settings.py
.env

# Migraciones de Django (ignora todo menos __init__.py)
core/migrations/
!core/migrations/__init__.py

# Entornos virtuales
venv/
env/

# Archivos temporales
*.cache
*.bak
*.swp
/tmp/

# Archivos de VS Code
.vscode/

# Archivos de PyCharm
.idea/

# Archivos de MacOS
.DS_Store

# Archivos estáticos generados por collectstatic
staticfiles/
static/